/relaciones/nbproject/private/
/relaciones/build/
/new/nbproject/private/
/manosalaobraone/nbproject/private/
/mao2/nbproject/private/
/diagrama/nbproject/private/
/mao2/build/
/ejecicio1relaciones/nbproject/private/
/ejercicio2relaciones/nbproject/private/
/ejercicio2relaciones/build/
/ejercicio3relaciones/nbproject/private/
/ejercicio1relaciones/nbproject/private/
/ejercicio1relaciones/build/
/saddas/nbproject/private/